html
{
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'gost type A', arial !important;*/
	font-family: 'Roboto', sans-serif;
	font-size: 1vmin;
	font-weight: normal;
}
@media screen and (max-width: 1025px)
{	
	html
	{
		font-size: 8pt;
	}
	.slide_text
	{	
		position: absolute;
		 left:10% !important;
		 max-width: 80% !important;
		  top:50%;
		  font-size: 4rem !important;
		  transform:translateY(-50%);
  word-wrap:break-word;
	}
}

body{
	margin: 0;
	padding: 0;
	font-weight: normal;
	/*background: url(../img/background-body.jpg);*/
/*	background-image: url(../img/background_body.png); */
	
}

/* @media screen and (min-device-width: 1000px) {
   	 header a {padding-left: 10vmin;}
   	 header ul {padding: 10;}
   }
*/


@font-face {
  font-family: Mon Amour Two Medium;
  src: url(../fonts/mon-amour-two-medium_[allfont.ru].ttf);
}

@font-face {
  font-family: gost type A;
  src: url(../fonts/gost-type-a.ttf);
}
button
{
	/*font-family: 'gost type A', arial;*/
	font-family: 'Open Sans', sans-serif;
}

section
{
	width: 100vw;
	height: 90vh;
	margin-top: 10vh;
	border-collapse: collapse;
		
 -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
/*  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 1s;*/
}
.active_cat
{
	border-bottom: 2px solid #f4511e;
}

header ul li:hover .active_cat
{
		border-bottom: 2px solid transparent;
}

.img_container_1
{	
	position: absolute;
	width: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.img_container_1 img
{
	 width: 100%;	
}
.text_container_1
{	
	position: relative;
	width: 40%;
	top: 50%;
	left: 60%;
	transform: translateY(-50%);
}
.text_container_1 .header_text
{
	font-weight: normal;
	font-size: 2.5rem;
	max-width: 70%;
	border-bottom: 1px solid  #f4511e;
	display: inline-block;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}
.text_container_1 .text_text
{	
	max-width: 70%;
	font-weight: normal;
	font-size: 2rem;
	color: #2f2f2f;
	display: inline-block;
}

.text_container_1 span
{
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}
.button_recall_phone
{	
	text-decoration: none;
	background: transparent;
	border: 2px solid black;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 2rem;
	padding: 0.5rem 2rem;
		margin: 2rem auto;
	min-width: 10%;
	text-transform: uppercase;
	-webkit-transition-duration: 0.2s; /* Safari */
 	 transition-duration: 0.2s;
}
.button_recall_phone:hover
{	
	-webkit-transition-duration: 0.2s; /* Safari */
 	 transition-duration: 0.2s;
/*	border: 2px solid #313131;
	color: #f4511e;	*/
	border: 2px solid #f4511e;
	color: #f4511e;
/*	color: #313131;
*/}
.button_recall_phone:active
{
	text-decoration: none;
}

  .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }


  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
  .fa-phone
  {
  	color:#f4511e;
  }

