/* Global */

.container {
  width: 100%;
  height: 100%;
  max-height: 100%;

  margin: 0;
  padding: 0;
  /* Font styles */
  position: relative;
  overflow: hidden;
  }

.container {

}

/* Panels */
.swipe {
  position: absolute;
  width: 100%;
  height: 100%; /* "min-height" doesn't work on Firefox. */
  background: #eee;
  overflow-x: hidden;
 z-index: 5;
 opacity: 0;
}

.panel {
  position: absolute;
  width: 100%;
  /*min-height: 100%;*/
  height: 100%;
  top: 0;
  left: 0;
  /*padding: 20px;*/
  
  /*transition:  cubic-bezier(.4,.95,.5,1.5) 600ms;*/
  overflow: hidden;
  z-index: 3;
/*  background: radial-gradient(ellipse at center,#4c647b 0,#132234 85%);
  opacity: 0.8;*/
}

.panel_tr
{
  transition: ease-in-out 600ms;
  /*transition:  cubic-bezier(.4,.95,.5,1.5) 600ms;*/
}
.panel img
{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.left {
  left: -100%;
  /*visibility: hidden;*/
  /*display: none;*/
}

.right {
  left: 100%;
  /*visibility: hidden;*/
  /*display: none;*/
}
.blur_blue
{
    background: radial-gradient(ellipse at center,#4c647b 0,#132234 85%);
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;

}
.container button {
  position: absolute;
  transition: ease .4s;
  z-index: 11;
  width: 5rem;
  height: 100%;
  background-color: rgba(0,0,0,0);
  outline: none;
  border:0;
  font-size: 2rem;
  text-shadow: 0px 0px 5px white;
}
.btn-prev
{
  left: 0;
}

.btn-next
{
  right: 0;
}

.container button:disabled {
  box-shadow: 0px 1px 5px 0px rgba(245,81,95,.8);
  background: -webkit-linear-gradient(top, #E91E63, #F5515F);
  background: linear-gradient(to bottom, #E91E63, #F5515F);
  cursor: default;
}
.container .text_block
{
  position: absolute;
  right: 0;
  bottom: 0; 
  width:35%;
  padding: 2rem 5rem 2rem 3rem;
  height: 30%;
  transform:translate(-2px,-80%);

  z-index: 5;
    opacity: 0;
     font-size: 2.5rem;
   color: #eeece7;
    font-weight: 300;
}


/*.container .panel .text_block .text_transition
{
  transition: cubic-bezier(.4,.95,.5,1.5) 200ms 600ms;
}*/
.container .panel .text_block .header_textblock
{
 
  font-size: 3rem;
    /*text-decoration: underline;*/
   text-align: left;
   margin-bottom: 1rem;
   font-weight: 400 ;
   color:white;
   text-transform: uppercase;


} 

.container .panel .text_block span
{
    padding: 0 2rem;
   
    /*color: black;*/

}

.container button:hover
{
background-color: rgba(0,0,0,0.4);
}



.animated_text_block
{
  animation-name: text_anim;
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-delay: 600ms;

  animation-fill-mode: forwards;

  /*animation: text_anim 2000ms ease 600ms 1 forward;*/
}

@media (max-width: 620px) {
  body {
    font-size: 13px;
    line-height: 1.5em;
  }
  .info {
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    right: 0;
  }

  .inner {
    padding: .5em 1.5em;
    box-shadow: none;
  }
  
  .buttons {
    display: none;
  }
}

@keyframes text_anim { 
  0% { opacity: 0.00;  transform: translate(-50%,-50%);} 
  90.11% { opacity: 1; transform: translate(-2px,-50%);} 
  100% {  opacity: 1; transform: translate(-2px,-50%);}

} 