/*
SliderFullPage
*/

.container
{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.swipe
{
	position: absolute;
	top:0;
	left: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;
	z-index: 5;
}

.slide
{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	overflow: hidden;
	z-index: 3;
}

.slide_transition
{
 	transition: ease-in-out 600ms;
}

.slide img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 2;
}

.left
{
	left: -100%;
}

.right
{
	left: 100%;
}

.blur_blue
{	
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background: radial-gradient(ellipse at center,#4c647b 0,#132234 85%);
	opacity: 0.5;

	z-index: 4;

}

.container button
{
	position: absolute;
	top:0;
	width: 5rem;
	height: 100%;

	background-color: rgba(0,0,0,0);

	outline: none;
	border:none;

	font-size: 2rem;
	text-shadow: 0px 0px 7px white;
	z-index: 6;
}

.container button:hover
{
	background-color: rgba(0,0,0,0.4);
	text-shadow: 0px 0px 11px white;
}

.btn_prev
{
	left: 0;
}

.btn_next
{
	right: 0;
}

.container .slide .text_block 
{
	position: absolute;
	right: 0;
	bottom: 0;

	/*transform: translate(-2px,-80%);*/
	width: 35%;
	height: 30%;

	font-size: 2rem;
	font-weight: 300;
	color: #eeeee7;

	padding: 2rem 5rem 2rem 3rem;
	z-index: 5;
}

.container .slide .text_block .header_textblock
{
	font-size: 3rem;
	color: white;
	font-weight: 400;

	text-transform: uppercase;

	margin-bottom: 1rem;
}
.container .slide .text_block span
{
	padding: 1rem 2rem;
}

.container .slide .animated_textblock
{
	animation-name: text_animation;
	animation-duration: 600ms;
	animation-timing-function: ease;
	animation-delay: 600ms;
	animation-fill-mode: forwards;
}

@keyframes text_animation
{
	0%   {opacity: 0.0; transform: translate(-50%,-50%);}
	20%  {opacity: 1; transform: translate(-50%;-50%);}
	80%  {opacity: 1; transform: translate(-2px,-50%);}
	100% {opacity: 1; transform: translate(-2px,-50%);}
}
/*
/////////////////////////////////////////////////////////////////////////////////////

sliderProject
*/

.sliderPr_container
{
  position: relative;
  top: 8rem;
  left: 10%;
  width: 80%;
  height: calc(100% - 20rem);
}

.sliderPr_container .sliderPr_container_content
{
  position: relative;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide
{
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide .sliderPr_img
{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 500ms cubic-bezier(0.1,0.65,0.6,1.4);
  transform: scale(0);
  opacity: 0;
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide .sliderPr_img_title
{
  position: absolute;
  bottom: 50%;
  right: 5%;
  width: 30%;
  height: 50%;
  transform: translate(100%,50%);
  display: block;
  float: left;

  font-size: 2rem;
  font-weight:  400;
  color:white;
  /*background: rgba(0,0,0,0.5);*/
  transition: 500ms cubic-bezier(0.1,0.65,0.6,1.4);
  opacity: 0;

}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_prv1 .sliderPr_img
{
  transform: translateX(-50%) scale(0);
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_prv 
{
   z-index: 1;
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_prv .sliderPr_img
{
  opacity: 0.6;
  transform: translateX(-25%) scale(0.8);
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_prv .sliderPr_img_title
{
  transform: translate(-100%,50%);
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_prv .sliderPr_img_title .sliderPr_img_title_header
{
  font-weight: 300;
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_prv .sliderPr_img_title .sliderPr_img_title_text
{
  font-weight: 400;
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_nxt
{
  z-index: 1;
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_nxt .sliderPr_img
{
  opacity: 0.6;
  transform: translateX(25%) scale(0.8);
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_nxt .sliderPr_img_title
{
  transform: translate(100%,50%);
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_nxt1 .sliderPr_img
{
   transform: translateX(50%) scale(0);
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_cur
{
  z-index: 2;
}
.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_cur .sliderPr_img
{
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.sliderPr_container .sliderPr_container_content .sliderPr_slide.sliderPr_cur .sliderPr_img_title
{
  opacity: 1;
  transition-delay: 200ms;
  transform:  translate(0,50%);
}

.sliderPr_container>.sliderPr_container_content>.btn_left
{
  position: absolute;
  z-index: 3;
  display: block;
  left: -7%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 15px 15px;
  background: #72a7cf;
  border-radius: 50%;
  margin-right: -2px;
  border:2px solid #72a7cf;
}

.sliderPr_container>.sliderPr_container_content>.btn_right {
  position: absolute;
  z-index: 3;
  display: block;
  right: -7%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 15px 15px;
  background: #72a7cf;
  border-radius: 50%;
  margin-left: -2px;
  border:2px solid #72a7cf;
}
.sliderPr_container .btn_right:hover, .sliderPr_container .btn_left:hover
{
   border:2px solid white;
}
.sliderPr_container>.swipe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}