body
{
	overflow-x:hidden;
	
}
.header
{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:5vh;
	background-color:red;
	display:flex;
	z-index:100;
}
#header_text
{
	font-family:Arial;
	font-size: 2.5vh;
	
	text-align:center;
	text-decoration:none;	
	margin: auto 0;
	color:white;	
	margin-left: 10%;
	z-index:inherit;	
}
.logo
{
	width: 4vh;
	height: 4vh;
	border-radius:2vh;
	-moz-border-radius:2vh;
	-webkit-border-radius:2vh;
	margin-top:0.5vh;
	margin-left:5vw;
	z-index:inherit;
	background-color:white;
}
.slide1
{
	position:absolute;
	width:100vw;
	height:100vh;
	background:url("img/1s.jpg"); 
	left:0;
	top:0vh;
	z-index:1;
	background-size:cover;
	background-repeat: no-repeat;
	
}
.slide2
{
	position:absolute;
	width:100vw;
	height:100vh;
background:url("img/2s.jpg"); 
	left:0;
	top:100vh;
	z-index:1;
	background-size:cover;
	background-repeat: no-repeat;

}
.slide3
{
	position:absolute;
	width:100vw;
	height:100vh;
   
	left:0;
	top:200vh;
	z-index:1;
	background-size:cover;
	background-repeat: no-repeat;

}
#form
{
	position:inherit;
	top:55vh;
	left:60vw;
	width:30vw;
	text-align:left;
	

  display: inline-block;
     text-align: left;
	 	font-family:Arial;
	font-size: 4vh;
}

#text_action_to_buy1
{
	position:inherit;
	top:40vh;
	left:60vw;
	width:30vw;
		font-family:Arial;
	font-size: 4vh;
	
}
#button_slide1
{
	width:100%;
	font-size:4vh;
	font-family:Arial;
	margin-top:0.5vh;
}

#call_action2
{color:red;
	position:inherit;

	width:100%;
	text-align:center;
	font-size:5vh;	
	font-family:Arial;
	
}
#timer
{color:red;

	font-size:5vh;
	font-family:Arial;
}


#header2{
	font-size:4vh;
	font-family:Arial;
	position:inherit;
    top:10vh;
	text-align:center;
	
	width:100vw;
}



#wtext_left
{text-align:left;
	
position:inherit;
top:20vh;
left:5vw;
width:35vw;
	font-size:3.5vh;
	font-family:Arial;

}
#wtext_rigth
{
position:inherit;
top:25vh;
left:50vw;
width:45vw;
	font-size:3.5vh;
	font-family:Arial;
}
#green_circle
{ float: left;
	background:url("img/check.png");
	width:3vh;
	height:3vh;
background-size:cover;
}
#header3
{
position:inherit;
top:8vh;
width:100%;
text-align:center;
font-size:6vh;
font-family:Arial;

	
}
#video
{
	position:inherit;
	width:30vw;
	height:30vh;
	top:20vh;
	margin-left:2,5vw;
	font-size:3.5vh;
	font-family:Arial;
	text-align:center;
}
#video1
{
	position:inherit;
	width:30vw;
	height:30vh;
	top:20vh;
	margin-left:35vw;
	font-size:3.5vh;
	font-family:Arial;
	text-align:center;
}

#video2
{
	position:inherit;
	width:30vw;
	height:30vh;
	top:20vh;
	margin-left:67.5vw;
	font-size:3.5vh;
	font-family:Arial;
	text-align:center;
}
.form
{
	position:inherit;
	top:67vh;
	width:100vw;
	
}
#form1
{
	position:inherit;
	width:50vw;
	left:25vw;
	font-size: 4vh;
	font-family:Arial;
		text-align:\left;
}